In [12]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
trainDS = pd.read_csv("training.csv")
trainDS

                  segment_id  ... surface_rpm
0     wellbore_chev_no_0_727  ...  150.369091
1     wellbore_chev_no_0_728  ...  150.369001
2     wellbore_chev_no_0_729  ...  150.429335
3     wellbore_chev_no_0_730  ...  150.080000
4     wellbore_chev_no_0_731  ...  150.032167
...                      ...  ...         ...
6833  wellbore_chev_no_9_827  ...  157.329500
6834  wellbore_chev_no_9_828  ...  145.228103
6835  wellbore_chev_no_9_829  ...  149.525177
6836  wellbore_chev_no_9_830  ...  149.496551
6837  wellbore_chev_no_9_831  ...  150.244000

[6838 rows x 11 columns]

In [14]:
rate_of_penetration = trainDS['rate_of_penetration']
rate_of_penetration

0        99.614650
1        99.354021
2        83.622907
3        85.427731
4       100.639811
           ...
6833     69.847645
6834     65.763896
6835     66.727449
6836     66.639130
6837     66.986291
Name: rate_of_penetration, Length: 6838, dtype: float64

Split Training Dataset and Validation Dataset

In [15]:
# if the two datasets are split randomly
X_train, X_test, y_train, y_test = train_test_split(trainDS, rate_of_penetration, test_size=0.2)
print(X_train.shape, y_train.shape)
print(X_test.shape, y_test.shape)

(5470, 11) (5470,)
(1368, 11) (1368,)

In [19]:
X_train

                   segment_id  ... surface_rpm
21     wellbore_chev_no_0_748  ...  150.494168
5916   wellbore_chev_no_8_470  ...  165.816926
4284   wellbore_chev_no_3_966  ...  119.621552
286   wellbore_chev_no_11_797  ...  150.756167
6243   wellbore_chev_no_8_797  ...  160.734966
...                       ...  ...         ...
1331  wellbore_chev_no_17_711  ...  180.351500
3544  wellbore_chev_no_24_801  ...  163.291667
2166   wellbore_chev_no_2_706  ...  170.468327
3031  wellbore_chev_no_21_891  ...  170.000000
2686  wellbore_chev_no_20_712  ...  179.483049

[5470 rows x 11 columns]

In [29]:
# K-fold train-test split
from sklearn.model_selection import KFold # import KFold
import numpy as np

def kfolds(X,y,fold_n):
  kf = KFold(n_splits=fold_n) # Define the split - into n folds 
  kf.get_n_splits(X) # returns the number of splitting iterations in the cross-validator
  print(kf) 
  KFold(n_splits=fold_n, random_state=None, shuffle=False)
  for train_index, test_index in kf.split(X):
    print('TRAIN:', train_index, 'TEST:', test_index)
    X_train, X_test = X[train_index], X[test_index]
    y_train, y_test = y[train_index], y[test_index]

X = np.array([[1, 2], [3, 4], [1, 2], [3, 4],]) # create an array
y = np.array([1, 2, 3, 4]) # Create another array
kfolds(X,y,3)

KFold(n_splits=3, random_state=None, shuffle=False)
TRAIN: [2 3] TEST: [0 1]
TRAIN: [0 1 3] TEST: [2]
TRAIN: [0 1 2] TEST: [3]

In [32]:
X[3]

array([3, 4])